
<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
       <title>About</title>
   </head>
         <body>
            <!--commengingaw-->
            <h1 style="color:rgb(215, 225, 225); text-align: center;background-color: rgb(4, 88, 101); font-size: 46px;"> ABOUT </h1>

              <p
               style="color:rgb(31, 2, 8);"> A to-do list is just a list of things you have to-do. That means basically anything and everything can be on your to-do list—but just because you’ve written your to-dos down doesn’t mean your to-do list is actually useful. Effectively tracking when your work is due can help you prioritize and get great work done. But too often, that list of work to-dos is disorganized and disconnected from the actual work you’re doing—which leads to less clarity and more work about work.<br> <br>
             </p>

  

</body>
